@import "tailwindcss/utilities";

body {
    @apply bg-gray-700;
    
    --color-brandblack: #1E1E1E,
    --color-brandbrown: #A65D15,
    font-family: 'Josefin Sans', sans-serif !important;
}
@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Copasetic';
    src: url("CopaseticNF.ttf") format('truetype');
}

@layer utilities {
    .bg-brandblack {
        background-color: var(--color-brandblack);
    }
    .bg-brandbrown {
        background-color: var(--color-brandbrown);
    }
}