<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../assets/site-icon.svg" type="icon">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="style.css">
    <script src="../script/main.js" type="module" defer></script>
    <title>About</title>
</head>
<body>
<section class="hero v-center h-center">
    <h3 class="text-gradient">Museum</h3>
    <h1>Batik Indonesia</h1>
    <div class="circle"></div>
    <div>
        <img src="../assets/batik-element.svg" alt="" class="decor">
        <img src="../assets/batik-element.svg" alt="" class="decor">
    </div>
</section>

<section class="section-2 h-center">
    <p>Museum Batik Indonesia merupakan museum khusus yang berlokasi di Taman Mini Indonesia Indah (TMII), Jakarta
        Timur. Museum ini didirikan sebagai pengingat pewarisan pengetahuan sekaligus
        budaya batik menjadi jati diri dan identitas Bangsa Indonesia.</p>
</section>

<section class="section-3">
    <p class="paragraph-1">Di dalam Museum Batik Indonesia, pengunjung diajak untuk menjelajahi perjalanans batik. Dari
        proses pembuatan tradisional hingga teknik modern, kami mengungkap kompleksitas dan keindahan seni batik
        yang telah menginspirasi dunia.</p>
    <img class="image-1" src="../assets/images/tentang/Ruang_2.jpg" alt="">
    <img class="image-2" src="../assets/images/tentang/Ruang_3_edit.jpg" alt="">
    <p class="paragraph-2">Setiap motif batik memiliki cerita tersendiri, mencerminkan kearifan lokal dan nilai-nilai
        budaya yang mendalam.</p>
    <img class="image-3" src="../assets/images/open-hall-manequin.avif" alt="">
    <img class="image-4" src="../assets/images/batik-wall-sheet.avif" alt="">
    <img class="image-5" src="../assets/images/batik-sheet.avif" alt="">
    <img class="image-6" src="../assets/images/tentang/Ruang_6.jpg" alt="">
    <img class="image-7" src="../assets/images/tentang/Ruang_7.jpg" alt="">
    <img class="image-8" src="../assets/images/tentang/Ruang_5_edit.jpg" alt="">
    <iframe class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5176.083656713058!2d106.89419732641099!3d-6.30619810656098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ed663af019f9%3A0x66d890a926a3c6e8!2sMuseum%20Batik%20Indonesia!5e0!3m2!1sen!2sid!4v1733714489698!5m2!1sen!2sid"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!--    <div class="circle"></div>-->
</section>
<section class="section-4 v-center h-center">
    <h1>Visit Us!</h1>
    <a href="https://maps.app.goo.gl/sWFboXUV9P9HEGvc7" target="_blank">
        <button>Open Map →</button>
    </a>
</section>
</body>
</html>
